@page "/secciones"
@using Gestion_RRHH_Client.Models
@inject HttpClient Http

<PageTitle>Seccion</PageTitle>

<h1>Seccion</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (Secciones == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var i in Secciones)
            {
                <tr>
                    <td>@i.Nombre</td>
                </tr>
            }
        </tbody>
    </table>
}
<label>Nombre</label>
<input @bind-value=objeto.Nombre type="text" placeholder="Nombre" class="form-control" />
<br />
<button class="btn btn-primary" @onclick="Guardar">Guardar</button>
<p>@Respuesta</p>
@code {
    Conexion conexion = new Conexion();
    Seccion objeto = new Seccion();
    string Respuesta = "";
    async Task Guardar()
    {
        var respuesta = await Http.PostAsJsonAsync($"{conexion.server}/api/Seccion/Crear", objeto);
        Respuesta = await respuesta.Content.ReadAsStringAsync();
        await Actualizar();

    }

    private Seccion[]? Secciones;

    protected override async Task OnInitializedAsync()
    {
        await Actualizar();
    }

    async Task Actualizar()
    {
        var respuesta = await Http.GetFromJsonAsync<Seccion[]>($"{conexion.server}/api/Seccion/Listado");
        Secciones = respuesta;
    }

}
